body{
    margin: 0;
    text-align: center;
    
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size: 70px;    
    width: 30%;
    margin:0 auto 0 auto;
    font-family: cursive,Arial;

}
h2{
    font-family: 'Shadows Into Light', cursive;
}
h3{
    font-family: 'Shadows Into Light', cursive;
}
div{
    
}
table{
    margin-left:auto; 
    margin-right:auto;
}
.top-container{
    background-color: #fcf9ec;

}
.middle-container{
    background-color: #ffffff;
}
.bottom-container{
    background-color: #fcf9ec;
}
#firstcloud{
    position: relative;
    padding-top: 20px;
    left:300px;
}
#secondcloud{
    position: relative;
    
    bottom:300px;
}
#mountain{
    position: relative;
    
}