/* Tags */
body{
    font-family: "Montserrat";
    text-align: center;
    
}

h1{
    font-family: Montserrat-Black, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
    font-weight: bold;

}
h2{
    font-family: "Montserrat-Bold";
    color: white;
    font-weight: bold;
}
p{
    color: grey;
}






/* Title */
#title {
    /* background-color: #216583; */
    color: white;
    background-image: url(../images/background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 1%;
    
    
}

.title{
    padding: 16% 15% 20% 15% ;
    margin-bottom: 5%;  
    margin-top: 0%;  
    
}





/* Navigation Bar */
.navbar{
    background: #0E1120;
}
.nav-item{
    padding: 0 18px;
    
}
.nav-link{
    color: white;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Features Section */
#technical-skills{
    /* background-image: url(../images/features.gif);
    background-repeat: no-repeat; */
    padding-bottom: 2%;
    

}
.skill-box{
    padding: 5% 10% 0% 10%;    
}

.image{
    margin-bottom: 1rem;
}


/* Projects */
#projects{
    padding: 13% 15%;
    /* background-color: #293462; */
    background-color:#0E1120;
}

.project-para{
    color: white;
}

.project-image{
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

/* Education */
#education{
    background-color:white;

}

/* Summary */
#summary{
    background-color:#ffffff; 
}

/* Footer */
#footer{
    color: #ffffff;
    background-color: #0E1120;
    padding: 16% 15% 20% 15% ; 
}
.footer-link{
    
}